{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/style.css">

    <main>
    <h1>新規登録</h1>
    <form method="POST">
        <label for="title">タイトル</label>
        <input type="text" name="title">
        <label for="body">内容</label>
        <input type="text" name="body">
        <label for="tag">タグ</label>
        <input type="text" name=""tag>
        <input type="submit" value="新規登録">
    </form>

    <a href= "{{url_for('index')}}" class="back">戻る</a>
    </main>
{% endblock %}