<head>
    
</head>
{% extends "base.html" %} {% block content %}
<main>

    <div id="new-article"><a href="/create" role="button"><img src="https://img.icons8.com/ios/50/undefined/create-new.png"/></a></div>

    <h2>新着記事</h2>
    <div id="item">
        {% for post in posts %}
        <a href="/{{post.id}}/view" role=button class="article">
            <div>
                <h2>{{post.title}}</h2>
                <p>- 作成日時：{{post.created_at}}</p>
                <p>- {{post.body}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</main>
{% endblock %}